@import './CodeMirrorThemes.css';

.wrapper {
    height: 100%;
}

.code-container {
    width: 100%;
    display: flex; 
    flex-direction: row;

}

.code-mirror {
    padding: 20px;
    width: 45%;
    padding: 20px;
} 